body{
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	background: rgb(11, 11, 22);
}
a{ 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
   }
a:hover { 
    text-decoration: underline;	/* Добавляем подчеркивание при наведении курсора мыши на ссылку */
	color: blue;
	
   }
a:visited{
	color: blue;
}
   
ul.hr {
    margin: 0px;
    padding: 2.5vw; /* Значение полей */
	margin-left: 10vw;
	margin-bottom: 9.75vw;
   }
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 0vw;
	margin-left: 2.5vw;
	color: white;
	font-size: 1.3vw;
	font-weight: bold;
   }

   .column {
    -webkit-column-width: 10vw;
    -moz-column-width: 10vw;
    column-width: 10vw;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap:  1.3vw;
    -moz-column-gap:  1.3vw;
    column-gap:  1.3vw;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
	  color: white;
   }
   
p.dline {
    line-height: 0.01em;
	margin-left:  3.25vw;
	font-size:  3.25vw;
	font-family: Arial Narrow, sans-serif;
    color: white; /* Цвет текста */
	
   }
p.dline2 {
    line-height: 0.01em;
	margin-left: 3.25vw;
	font-size: 2.28vw;
	font-family: Arial Narrow, sans-serif;
    color: white; /* Цвет текста */
   }
#more{display:none;}
.card{
	margin-left: 1.95vw;
	vertical-align: middle;
	width: 15.275vw;
	margin-top: center;
	padding: 0.65vw;
	color: #fff;
	font-size: 1.17vw;
	box-shadow: 0vw 0vw 0.32vw 0.26vw rgba(0,0,0,0.33);
}
button.menu {
	padding: 0.65vw 0.975vw;
	border: 0.065vw solid;
	color: #fff;
	background: transparent;
	
	transition: 0.5s;
	cursor:pointer;
	
}
button.menu:hover{
	transform: scale(1.2) translateX(0.52vw);
}

button.avto {
	
	border: 0;
	color: #fff;
	background: transparent;
	text-align: center;
	transition: 0.5s;
	cursor:pointer;
	
	
}

div.dropdown-content {
    display: none;
    position: absolute;
    min-width: 6.5vw;
    z-index: 1;
	
}

div.dropdown-content a {
    color: White;
    padding: 0.325vw 1.04vw;
    text-decoration: none;
    display: block;	
}
a.isDisabled {
    padding: 0.325vw 1.04vw;
	color: currentColor;
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: none;
	
	
}

div.dropdown:hover .dropdown-content {
    display: block;	
}


div.dropdown-content2 {
    display: none;
    position: absolute;
    min-width: 6.5vw;
    z-index: 1;
}

div.dropdown-content2 a {
    color: white;
    padding: 0.325vw 1.04vw;
    text-decoration: none;
    display: block;	
}


div.dropdown2:hover .dropdown-content2 {
    display: block;
	margin-left: 45vw;
	
	
}

div.dropdown-content3 {
    display: none;
	margin-top:1.3vh;
    position: absolute;
    max-width: 11.05vw;
    z-index: 1;
	background: #1c69d4;
}

div.dropdown-content3 p {
    color: White;
    padding: 0.65vw 0.65vw;
    text-decoration: none;
	text-align: center;
}

div.dropdown3:hover .dropdown-content3 {
    display: block;
	margin-left: 32.8vw;
	
	
}

ul.marker{
 list-style-image: url(marker.png);
}

























